button.click-option {
  float: left;
  clear: both;
  padding: 15px;
  margin: 5px;
  position: relative;
}

div.back-to-start {
  float: left;
  clear: both;
  padding: 15px;
  margin: 5px;
  position: relative;
}

body {
  margin-left: auto;
  margin-right: auto;
}
